.custom-options  .option-box {border:1px solid #cddddd; padding:1em;  background:#e7efef; margin:1.5em 0; overflow:auto;}
.custom-options  .type-id  {width:20px; }
.custom-options  .type-children  {width:155px; }
.custom-options .option-box .border  input.select-type-children { width:136px !important; }
.custom-options .option-box .border  select.select-type-children { width:142px !important; }
.custom-options .option-box .border  span.link-type-children { vertical-align: top; color: red; cursor: pointer;}