<?xml version="1.0"?>

<config>
    <modules>
        <ZombieStudio_Tour>
            <version>0.1.8</version>
        </ZombieStudio_Tour>
    </modules>
    <global>
        <resources>
            <zombiestudio_tour_setup>
                <setup>
                    <module>ZombieStudio_Tour</module>
                    <class>ZombieStudio_Tour_Model_Resource_Setup</class>
                </setup>
            </zombiestudio_tour_setup>
        </resources>
        <blocks>
            <zombiestudio_tour>
                <class>ZombieStudio_Tour_Block</class>
            </zombiestudio_tour>
        </blocks>
        <helpers>
            <zombiestudio_tour>
                <class>ZombieStudio_Tour_Helper</class>
            </zombiestudio_tour>
        </helpers>
        <models>
            <zombiestudio_tour>
                <class>ZombieStudio_Tour_Model</class>
                <resourceModel>zombiestudio_tour_resource</resourceModel>
            </zombiestudio_tour>
            <zombiestudio_tour_resource>
                <class>ZombieStudio_Tour_Model_Resource</class>
                <entities>
                    <tour>
                        <table>zombiestudio_tour_tour</table>
                    </tour>
                </entities>
            </zombiestudio_tour_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <zombiestudio_tour>
                    <file>zombiestudio_tour.xml</file>
                </zombiestudio_tour>
            </updates>
        </layout>
        <translate>
            <modules>
                <ZombieStudio_Tour>
                    <files>
                        <default>ZombieStudio_Tour.csv</default>
                    </files>
                </ZombieStudio_Tour>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ZombieStudio_Tour before="Mage_Adminhtml">ZombieStudio_Tour_Adminhtml</ZombieStudio_Tour>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <zombiestudio_tour>
                <use>standard</use>
                <args>
                    <module>ZombieStudio_Tour</module>
                    <frontName>zombiestudio_tour</frontName>
                </args>
            </zombiestudio_tour>
        </routers>
        <layout>
            <updates>
                <zombiestudio_tour>
                    <file>zombiestudio_tour.xml</file>
                </zombiestudio_tour>
            </updates>
        </layout>
        <translate>
            <modules>
                <ZombieStudio_Tour>
                    <files>
                        <default>ZombieStudio_Tour.csv</default>
                    </files>
                </ZombieStudio_Tour>
            </modules>
        </translate>
    </frontend>
    <default>
        <zombiestudio_tour>
            <tour>
                <breadcrumbs>1</breadcrumbs>
                <rss>1</rss>
            </tour>
        </zombiestudio_tour>
    </default>
</config>
