<?xml version="1.0"?>
<config>
    <modules>
        <M3_Restapi>
            <version>0.1.0</version>
        </M3_Restapi>
    </modules>
    <frontend>
        <routers>
            <restapi>
                <use>standard</use>
                <args>
                    <module>M3_Restapi</module>
                    <frontName>restapi</frontName>
                </args>
            </restapi>
        </routers>
    </frontend>
    <global>
        <helpers>
            <restapi>
                <class>M3_Restapi_Helper</class>
            </restapi>
        </helpers>
        <models>
            <restapi>
                <class>M3_Restapi_Model</class>
            </restapi>
            <customer>
                <rewrite>
                    <api2_customer_rest_admin_v1>M3_Restapi_Model_Customer_Api2_Customer_Rest_Admin_V1</api2_customer_rest_admin_v1>
                    <api2_customer_address_rest_admin_v1>M3_Restapi_Model_Customer_Api2_Customer_Address_Rest_Admin_V1</api2_customer_address_rest_admin_v1>
                </rewrite>
            </customer>
            <catalog>
                <rewrite>
                    <api2_product_rest_admin_v1>M3_Restapi_Model_Catalog_Api2_Product_Rest_Admin_V1</api2_product_rest_admin_v1>
                </rewrite>
            </catalog>
        </models>
    </global>
</config> 